@import "utils/index";

@import "components/index";

@import "pages/digital-agency";
@import "pages/design-agency";
@import "pages/creative-agency";
@import "pages/marketing-agency";
@import "pages/startup-agency";
@import "pages/portfolio-agency";
@import "pages/portfolio";
@import "pages/parallax-carousal";
@import "pages/portfolio-showcase";
@import "pages/404";
@import "pages/about";
@import "pages/blog-details";
@import "pages/blog";
@import "pages/contact";
@import "pages/faq";
@import "pages/service-details";
@import "pages/services";
@import "pages/team-details";
@import "pages/team";
@import "pages/work-details";
@import "pages/work";




/* header area style  */
.header-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;


    &__inner {
        display: flex;
        align-items: center;
        gap: 0px;
        position: relative;
        height: 100px;

        @media #{$lg} {
            height: 70px;
            gap: 20px;
        }

        &>*:nth-child(2) {
            margin-inline-end: auto;
        }
    }

    .container {
        &.large {
            @media (min-width: 1800px) {
                max-width: 1750px;
            }
        }



    }

    .sticky,
    .transformed {
        background-color: #F9E6DC;
    }

    .header__logo {
        border: 1px solid rgba(17, 17, 17, 0.1);
        padding: 17px 30px;
        border-radius: 60px;

        @media #{$lg} {
            padding: 0;
            border: 0;
        }

        img {
            width: 100%;
        }
    }

    .header__nav {
        border: 1px solid rgba(17, 17, 17, 0.1);
        border-radius: 60px;
        padding: 0 13px;

        @media #{$lg} {
            padding: 0;
            border: 0;
        }
    }

    .main-menu li a {
        font-size: 16px;
        font-weight: 400;
        padding: 21px 17px;

        &:hover {
            color: var(--action);
        }
    }

    .search-icon {
        color: var(--primary);
    }

    .header__meta {
        @media #{$xs} {
            display: none;
        }
    }

    .rr-btn {
        font-size: 16px;
        padding: 22px 38px;
        letter-spacing: -0.04em;

        @media #{$lg} {
            padding: 17px 33px;

        }
    }

    .header__navicon {
        i {
            font-size: 22px;
        }
    }

}

/* header area 2 style  */
.header-area-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;


    &__inner {
        display: flex;
        align-items: center;
        gap: 10px;
        position: relative;
        height: 80px;

        @media #{$lg} {
            height: 70px;
            gap: 10px;
        }

        &>*:nth-child(1) {
            margin-inline-end: auto;
        }
    }

    .container {
        &.large {
            .body-creative-agency {

                @media (min-width: 1850px) {
                    max-width: 1850px;
                }
            }
        }
    }

    .sticky,
    .transformed {
        background-color: #FCF7F3;
    }

    .header__logo {

        img {
            width: 100%;
        }
    }

    .header__nav {
        margin-right: -50%;
    }


    .main-menu li a {
        font-size: 16px;
        font-weight: 400;
        padding: 21px 17px;

        &:hover {
            color: var(--action);
        }
    }

    .search-icon {
        color: var(--primary);
    }

    .header__meta {
        @media #{$xs} {
            display: none;
        }
    }

    .rr-btn {
        padding: 16px 28px;
        font-size: 16px;
        letter-spacing: -0.04em;
    }

    .side-toggle {
        width: 50px;
        height: 50px;
        background-color: #F1E8E1;
        border-radius: 50%;

        i {
            font-size: 22px;
        }
    }

}

/* header area 3 style  */
.header-area-3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;


    &__inner {
        display: flex;
        align-items: flex-start;
        gap: 10px;
        position: relative;
        padding-top: 35px;

        @media #{$lg} {
            padding-top: 25px;
        }





        &>*:nth-child(1) {
            margin-inline-end: auto;
        }
    }

    .container {
        &.large {
            @media (min-width: 1850px) {
                max-width: 1850px;
            }
        }



    }

    .header__logo {

        img {
            width: 100%;
        }
    }


    .main-menu li a {
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        padding: 0 0;
    }

    .main-menu>ul {
        display: block;
    }

    .main-menu {

        ul {
            &:hover {

                li {
                    opacity: 0.3;
                }
            }

            li {
                font-size: 22px;
                line-height: 30px;
                color: var(--primary);
                transition-property: opacity;
                transition-duration: 500ms;

                &:hover {
                    opacity: 1;

                    a strong {
                        opacity: 1;
                        top: -23px;
                    }
                }

                a strong {
                    opacity: 0;
                    transition-property: opacity, top;
                    transition-duration: 250ms;
                }

            }
        }
    }


    .side-toggle {
        width: 50px;
        height: 50px;
        background-color: #F1E8E1;
        border-radius: 50%;

        i {
            font-size: 22px;
        }
    }

}

/* header area 4 style  */
.header-area-4 {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;

    &__inner {
        display: flex;
        border-top: 1px solid var(--black);
        padding-top: 20px;
        gap: 10px;
        position: relative;
        height: 80px;

        @media #{$lg} {
            height: 70px;
            gap: 10px;
        }

        &>*:nth-child(1) {
            margin-inline-end: auto;
        }
    }

    .container {
        &.large {
            @media (min-width: 1650px) {
                max-width: 1650px;
            }
        }

    }



    .header__logo {

        img {
            width: 100%;
        }
    }

    .header {

        &__middel {
            margin-right: 320px;

            @media #{$lg} {
                margin-left: 100px;
            }

            @media #{$md} {
                display: none;
            }

            p {
                text-transform: uppercase;
                color: var(--black);
                font-size: 14px;
                font-weight: 500;
                line-height: 16px;
            }
        }
    }

    .main-menu li a {
        font-size: 16px;
        font-weight: 400;
        padding: 21px 17px;

        &:hover {
            color: var(--action);
        }
    }

    .search-icon {
        color: var(--primary);
    }

    .header__meta {
        @media #{$xs} {
            display: none;
        }
    }

    .header__navicon {
        button {
            text-transform: uppercase;
        }
    }


}

/* header area 5 style  */
.header-area-5 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;


    &__inner {
        display: flex;
        align-items: center;
        gap: 10px;
        position: relative;
        padding-top: 25px;
        padding-bottom: 25px;
        border-bottom: 1px solid rgba(17, 17, 17, 0.1);

        @media #{$lg} {
            padding-top: 15px;
            padding-bottom: 15px;
        }

        &>*:nth-child(1) {
            margin-inline-end: auto;
        }
    }



    .header__logo {

        img {
            width: 100%;
        }
    }


    .main-menu li a {
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        padding: 0 0;
        position: relative;

        &::before {
            width: 0;
            height: 1px;
            background-color: currentColor;
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            transition: all 0.5s;
        }

        &:hover {
            color: var(--black);

            &::before {
                width: 100%;
            }
        }
    }

    .main-menu>ul {
        gap: 40px;
    }

    .side-toggle {
        width: 40px;
        height: 40px;
        background-color: #F1E8E1;
        border-radius: 50%;

        i {
            font-size: 22px;
        }
    }

}

/* header area 6 style  */
.header-area-6 {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;

    &__inner {
        display: flex;
        border-top: 1px solid var(--black);
        padding-top: 20px;
        gap: 10px;
        position: relative;
        height: 80px;

        @media #{$lg} {
            height: 70px;
            gap: 10px;
        }

        &>*:nth-child(1) {
            margin-inline-end: auto;
        }
    }

    .container {
        &.large {
            @media (min-width: 1870px) {
                max-width: 1870px;
            }
        }

    }



    .header__logo {

        img {
            width: 100%;
        }
    }

    .header {

        &__middel {
            margin-right: 320px;

            @media #{$lg} {
                margin-left: 100px;
            }

            @media #{$md} {
                display: none;
            }

            p {
                text-transform: uppercase;
                color: var(--black);
                font-size: 14px;
                font-weight: 500;
                line-height: 16px;
            }
        }
    }

    .main-menu li a {
        font-size: 16px;
        font-weight: 400;
        padding: 21px 17px;

        &:hover {
            color: var(--action);
        }
    }

    .search-icon {
        color: var(--primary);
    }

    .header__meta {
        @media #{$xs} {
            display: none;
        }
    }

    .header__navicon {
        button {
            text-transform: uppercase;
        }
    }


}

/* header area 8 style  */
.header-area-8 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;


    &__inner {
        display: flex;
        align-items: center;
        gap: 10px;
        position: relative;
        height: 80px;

        @media #{$lg} {
            height: 70px;
            gap: 10px;
        }

        &>*:nth-child(1) {
            margin-inline-end: auto;
        }
    }

    .container {
        &.large {
            @media (min-width: 1850px) {
                max-width: 1850px;
            }
        }
    }

    .sticky,
    .transformed {
        background-color: #FCF7F3;
    }

    .header__logo {

        img {
            width: 100%;
        }
    }

    .header__nav {
        margin-right: -50%;
    }


    .main-menu li a {
        font-size: 14px;
        font-weight: 600;
        padding: 21px 17px;
        text-transform: uppercase;

        &:hover {
            color: var(--action);
        }
    }

    .search-icon {
        color: var(--primary);
    }

    .header__meta {
        @media #{$xs} {
            display: none;
        }
    }

    .side-toggle {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 14px;
        font-weight: 600;
        line-height: 16px;
        text-transform: uppercase;

        i {
            font-size: 22px;
        }
    }

}

/* footer area style  */
.footer-area {
    .footer-top-inner {
        padding-top: 92px;
        padding-bottom: 50px;
        display: grid;
        gap: 30px 60px;
        grid-template-columns: 1fr 660px;

        @media #{$xxl} {
            padding-top: 72px;
            padding-bottom: 40px;
        }

        @media #{$xl} {
            grid-template-columns: 1fr 580px;
        }

        @media #{$lg} {
            grid-template-columns: 1fr 500px;

        }

        @media #{$md} {
            grid-template-columns: 1fr 430px;
        }

        @media #{$sm} {
            grid-template-columns: 1fr;
        }

        .info-text {
            .text {
                max-width: 510px;
                font-size: 30px;
                line-height: 1.26;
                color: var(--primary);

                @media #{$xxl} {
                    font-size: 22px;
                }
            }
        }

        .info-link {
            a {
                font-size: 30px;
                line-height: 1.5;
                color: var(--black-2);
                position: relative;

                @media #{$xxl} {
                    font-size: 22px;
                }

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    transition: all 0.3s;
                    background-color: currentColor;
                }

                &:hover {
                    color: var(--black);

                    &::before {
                        width: 0;
                    }
                }
            }
        }
    }

    .footer-logo {
        margin-top: 8px;
        max-width: 657px;

        @media #{$xxl} {
            max-width: 257px;
        }

        @media #{$lg} {
            max-width: 207px;
        }

        @media #{$md} {
            max-width: 147px;
        }
    }

    .footer-widget-wrapper-box {
        border-top: 1px solid rgba(17, 17, 17, 0.1);
        padding-top: 97px;
        padding-bottom: 94px;

        @media #{$xxl} {
            padding-top: 77px;
            padding-bottom: 74px;
        }

        @media #{$lg} {
            padding-top: 57px;
            padding-bottom: 54px;
        }
    }

    .footer-widget-wrapper {
        display: grid;
        gap: 30px 170px;
        grid-template-columns: 1fr auto auto auto;
        justify-content: space-between;

        @media #{$xl} {
            gap: 30px 130px;
        }

        @media #{$lg} {
            gap: 30px 90px;

        }

        @media #{$md} {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media #{$sm} {
            grid-template-columns: 1fr 1fr;
        }

        @media #{$xs} {
            grid-template-columns: 1fr;
        }
    }

    .subscribe-form {
        max-width: 515px;

        .input-field {
            display: flex;
            gap: 10px;
            background-color: rgba(17, 17, 17, 0.05);
            padding: 28px 30px;
            border-radius: 50px;

            @media #{$xxl} {
                padding: 18px 30px;
            }

            input {
                width: 100%;
                background-color: transparent;
                border: 0;
                outline: 0;
                font-size: 22px;
                line-height: 1;

                &::placeholder {
                    color: rgba(17, 17, 17, 0.3);
                }
            }
        }

    }


    .subscription-text {
        margin-top: 23px;

        .text {
            font-size: 22px;
            line-height: 28px;
            color: var(--primary);
            max-width: 345px;

            a {
                position: relative;

                &::before {
                    transition: all 0.5s;
                    width: 100%;
                    height: 1px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    content: "";
                    background-color: currentColor;
                }

                &:hover {
                    &:hover {
                        &::before {
                            width: 0;
                        }
                    }
                }
            }
        }
    }

    .footer-widget-box {
        .title {
            font-size: 22px;
            line-height: 20px;
            margin-bottom: 30px;
            color: var(--black-2);
            font-family: var(--font_dmsans);

            @media #{$xxl} {
                margin-bottom: 20px;

            }
        }

        &.newsletter {
            @media #{$md} {
                order: 4;
                grid-column: span 2;
            }

            @media #{$xs} {
                grid-column: auto;
            }
        }

    }

    .footer-nav-list {

        &:hover {

            li a {
                opacity: 0.3;
            }
        }

        li {
            font-size: 22px;
            line-height: 30px;
            color: var(--primary);
            transition-property: opacity;
            transition-duration: 500ms;

            a {

                &:hover {
                    opacity: 1;

                    a strong {
                        opacity: 1;
                        top: -23px;
                    }
                }

                a strong {
                    opacity: 0;
                    transition-property: opacity, top;
                    transition-duration: 250ms;
                }
            }

        }
    }

    .copyright-area-inner {
        border-top: 1px solid rgba(17, 17, 17, 0.1);
        padding: 47px 0;

        @media #{$xxl} {
            padding: 37px 0;

        }

        @media #{$xl} {
            padding: 27px 0;

        }
    }

    .copyright-text {
        .text {
            font-size: 24px;
            line-height: 1;
            color: var(--primary);
            text-align: center;

            @media #{$xl} {
                font-size: 20px;
            }

            a {
                color: #999999;
                transition: all 0.3s;
                position: relative;

                &::before {
                    width: 0%;
                    height: 1px;
                    background-color: currentColor;
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    transition: all 0.5s;
                }

                &:hover {
                    color: var(--black);

                    &::before {
                        width: 100%;
                    }
                }
            }
        }
    }
}


/* footer area 2 style  */
.footer-area-2 {


    .footer-widget-wrapper-box {
        border-top: 1px solid rgba(17, 17, 17, 0.1);
        padding-top: 97px;
        padding-bottom: 94px;

        @media #{$xxl} {
            padding-top: 77px;
            padding-bottom: 74px;
        }

        @media #{$lg} {
            padding-top: 57px;
            padding-bottom: 54px;
        }
    }

    .footer-widget-wrapper {
        display: grid;
        gap: 30px 170px;
        grid-template-columns: 1fr auto auto auto;
        justify-content: space-between;

        @media #{$xl} {
            gap: 30px 130px;
        }

        @media #{$lg} {
            gap: 30px 90px;

        }

        @media #{$md} {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media #{$sm} {
            grid-template-columns: 1fr 1fr;
        }

        @media #{$xs} {
            grid-template-columns: 1fr;
        }
    }

    .subscribe-form {
        max-width: 515px;

        .input-field {
            display: flex;
            gap: 10px;
            background-color: #F4EDE7;
            padding: 28px 30px;
            border-radius: 50px;

            @media #{$xxl} {
                padding: 22px 30px;
            }

            @media #{$lg} {
                padding: 18px 30px;
            }

            input {
                width: 100%;
                background-color: transparent;
                border: 0;
                outline: 0;
                font-size: 22px;
                line-height: 1;

                @media #{$lg} {
                    font-size: 18px;

                }

                &::placeholder {
                    color: rgba(17, 17, 17, 0.3);
                }
            }
        }

    }


    .subscription-text {
        margin-top: 23px;

        @media #{$lg} {
            margin-top: 18px;
        }

        .text {
            font-size: 22px;
            line-height: 28px;
            color: var(--primary);
            max-width: 345px;

            @media #{$lg} {
                font-size: 18px;
            }

            a {
                position: relative;

                &::before {
                    transition: all 0.5s;
                    width: 100%;
                    height: 1px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    content: "";
                    background-color: currentColor;
                }

                &:hover {
                    &:hover {
                        &::before {
                            width: 0;
                        }
                    }
                }
            }
        }
    }

    .footer-widget-box {
        .title {
            font-size: 22px;
            line-height: 20px;
            margin-bottom: 30px;
            color: var(--black-2);
            font-family: var(--font_dmsans);

            @media #{$xxl} {
                margin-bottom: 20px;

            }
        }

        &.newsletter {
            @media #{$md} {
                order: 4;
                grid-column: span 2;
            }

            @media #{$xs} {
                grid-column: auto;
            }
        }

    }


    .footer-nav-list {

        &:hover {

            li a {
                opacity: 0.3;
            }
        }

        li {
            font-size: 22px;
            line-height: 30px;
            color: var(--primary);
            transition-property: opacity;
            transition-duration: 500ms;

            a {

                &:hover {
                    opacity: 1;

                    a strong {
                        opacity: 1;
                        top: -23px;
                    }
                }

                a strong {
                    opacity: 0;
                    transition-property: opacity, top;
                    transition-duration: 250ms;
                }
            }

        }
    }

    .copyright-area-inner {
        border-top: 1px solid rgba(17, 17, 17, 0.1);
        padding: 47px 0;

        @media #{$xxl} {
            padding: 37px 0;

        }

        @media #{$xl} {
            padding: 27px 0;

        }
    }

    .copyright-text {
        .text {
            font-size: 24px;
            line-height: 1;
            color: var(--primary);
            text-align: center;

            @media #{$xl} {
                font-size: 20px;
            }

            @media #{$lg} {
                font-size: 18px;
            }

            a {
                color: #999999;
                transition: all 0.3s;
                position: relative;

                &::before {
                    width: 0;
                    height: 1px;
                    background-color: currentColor;
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    transition: all 0.5s;
                }

                &:hover {
                    color: var(--black);

                    &::before {
                        width: 100%;
                    }
                }
            }
        }
    }
}


/* footer area 3 style  */
.footer-area-3 {
    .footer-widget-wrapper-box {
        padding-top: 97px;
        padding-bottom: 94px;

        @media #{$xxl} {
            padding-top: 77px;
            padding-bottom: 74px;
        }

        @media #{$lg} {
            padding-top: 57px;
            padding-bottom: 54px;
        }
    }

    .footer-widget-wrapper {
        display: grid;
        gap: 30px 170px;
        grid-template-columns: 1fr auto auto auto;
        justify-content: space-between;

        @media #{$xl} {
            gap: 30px 130px;
        }

        @media #{$lg} {
            gap: 30px 90px;

        }

        @media #{$md} {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media #{$sm} {
            grid-template-columns: 1fr 1fr;
        }

        @media #{$xs} {
            grid-template-columns: 1fr;
        }
    }

    .subscribe-form {
        max-width: 515px;

        .input-field {
            display: flex;
            gap: 10px;
            background-color: rgba(17, 17, 17, 0.05);
            padding: 28px 30px;
            border-radius: 50px;

            @media #{$xxl} {
                padding: 22px 30px;
            }

            @media #{$lg} {
                padding: 18px 30px;
            }

            input {
                width: 100%;
                background-color: transparent;
                border: 0;
                outline: 0;
                font-size: 22px;
                line-height: 1;

                @media #{$lg} {
                    font-size: 18px;

                }

                &::placeholder {
                    color: rgba(17, 17, 17, 0.3);
                }
            }
        }

    }


    .subscription-text {
        margin-top: 23px;

        @media #{$lg} {
            margin-top: 18px;
        }

        .text {
            font-size: 22px;
            line-height: 28px;
            color: var(--primary);
            max-width: 345px;

            @media #{$lg} {
                font-size: 18px;
            }

            a {
                position: relative;

                &::before {
                    transition: all 0.5s;
                    width: 100%;
                    height: 1px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    content: "";
                    background-color: currentColor;
                }

                &:hover {
                    &:hover {
                        &::before {
                            width: 0;
                        }
                    }
                }
            }
        }
    }

    .footer-widget-box {
        .title {
            font-size: 22px;
            line-height: 20px;
            margin-bottom: 30px;
            color: var(--black-2);
            font-family: var(--font_dmsans);

            @media #{$xxl} {
                margin-bottom: 20px;

            }
        }

        &.newsletter {
            @media #{$md} {
                order: 4;
                grid-column: span 2;
            }

            @media #{$xs} {
                grid-column: auto;
            }
        }

    }

    .footer-nav-list {

        &:hover {

            li a {
                opacity: 0.3;
            }
        }

        li {
            font-size: 22px;
            line-height: 30px;
            color: var(--primary);
            transition-property: opacity;
            transition-duration: 500ms;

            a {

                &:hover {
                    opacity: 1;

                    a strong {
                        opacity: 1;
                        top: -23px;
                    }
                }

                a strong {
                    opacity: 0;
                    transition-property: opacity, top;
                    transition-duration: 250ms;
                }
            }

        }
    }

    .copyright-area-inner {
        border-top: 1px solid rgba(17, 17, 17, 0.1);
        padding: 47px 0;

        @media #{$xxl} {
            padding: 37px 0;

        }

        @media #{$xl} {
            padding: 27px 0;

        }
    }

    .copyright-text {
        .text {
            font-size: 24px;
            line-height: 1;
            color: var(--primary);
            text-align: center;

            @media #{$xl} {
                font-size: 20px;
            }

            @media #{$lg} {
                font-size: 18px;
            }

            a {
                color: #999999;
                transition: all 0.3s;
                position: relative;

                &::before {
                    width: 0;
                    height: 1px;
                    background-color: currentColor;
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    transition: all 0.5s;
                }

                &:hover {
                    color: var(--black);

                    &::before {
                        width: 100%;
                    }
                }
            }
        }
    }
}

/* footer area 4 style  */
.footer-area-4 {


    .footer-widget-wrapper-box {
        border-top: 1px solid rgba(17, 17, 17, 0.1);
        padding-top: 60px;
        padding-bottom: 60px;
        margin-top: 50px;

        @media #{$xxl} {
            padding-top: 50px;
            padding-bottom: 50px;
        }

        @media #{$xl} {
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }

    .footer-widget-wrapper {
        display: grid;
        gap: 30px 170px;
        grid-template-columns: 1fr auto;
        justify-content: space-between;

        @media #{$xl} {
            gap: 30px 60px;
        }


        @media #{$sm} {
            grid-template-columns: 1fr;
        }


    }

    .footer-nav-list {
        display: flex;
        gap: 15px 40px;
        flex-wrap: wrap;

        @media #{$lg} {
            gap: 15px 30px;
        }

        &:hover {

            li a {
                opacity: 0.3;
            }
        }

        li {
            font-size: 20px;
            line-height: 28px;
            color: var(--primary);
            transition-property: opacity;
            transition-duration: 500ms;

            a {

                &:hover {
                    opacity: 1;

                    a strong {
                        opacity: 1;
                        top: -23px;
                    }
                }

                a strong {
                    opacity: 0;
                    transition-property: opacity, top;
                    transition-duration: 250ms;
                }
            }

        }
    }

    .copyright-area-inner {
        border-top: 1px solid rgba(17, 17, 17, 0.1);
        padding-top: 36px;
        padding-bottom: 55px;

        @media #{$xxl} {
            padding-top: 31px;
            padding-bottom: 35px;

        }

        @media #{$lg} {
            padding-top: 26px;
            padding-bottom: 26px;

        }
    }

    .copyright-text {
        .text {
            font-size: 20px;
            line-height: 28px;
            color: var(--primary);
            text-align: center;


            @media #{$lg} {
                font-size: 18px;
            }

            a {
                color: #999999;
                transition: all 0.3s;
                position: relative;

                &::before {
                    width: 0;
                    height: 1px;
                    background-color: currentColor;
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    transition: all 0.5s;
                }

                &:hover {
                    color: var(--black);

                    &::before {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.footer-area-6 {

    &-inner {
        padding-bottom: 40px;
        padding-top: 134px;

        @media #{$md} {
            padding-top: 100px;
        }

        @media #{$xs} {
            padding-top: 50px;
        }
    }

    .footer-widget {

        &-wrapper {
            display: flex;
            gap: 140px;
            justify-content: space-between;
            padding-bottom: 200px;

            @media #{$xl} {
                gap: 100px;
                padding-bottom: 150px;
            }

            @media #{$lg} {
                gap: 80px;
                padding-bottom: 120px;
            }

            @media #{$md} {
                gap: 50px;
                padding-bottom: 60px;
            }

            @media #{$sm} {
                gap: 30px;
                padding-bottom: 40px;
            }

            @media #{$xs} {
                flex-wrap: wrap;
            }
        }

        &__media {
            margin-left: auto;

            @media #{$xs} {
                margin-right: auto;
                margin-left: auto;
            }
        }

        &__content {
            max-width: 1130px;

            @media #{$lg} {
                max-width: 1000px;
            }

            @media #{$xs} {
                max-width: 100%;
            }

            &-wrapper {
                border-top: 1px solid rgba(17, 17, 17, 0.10);
                padding-top: 30px;
                display: flex;
                gap: 240px;

                @media #{$xl} {
                    gap: 150px;
                }

                @media #{$lg} {
                    gap: 50px;
                }

                @media #{$md} {
                    flex-wrap: wrap;
                }
            }

            &-item {

                span {
                    font-size: 14px;
                    color: var(--primary);
                    line-height: 16px;
                    font-weight: 500;
                    text-transform: uppercase;
                    margin-bottom: 45px;
                    display: inline-block;

                    @media #{$md} {
                        margin-bottom: 20px;
                    }
                }

                .description {
                    max-width: 440px;
                    color: var(--primary);
                    font-size: 30px;
                    line-height: 38px;
                    letter-spacing: -0.6px;

                    @media #{$lg} {
                        font-size: 25px;
                        line-height: 30px;
                    }

                    @media #{$md} {
                        max-width: 100%;
                        font-size: 22px;
                    }
                }
            }
        }

        &-title {
            font-size: 100px;
            line-height: 0.95;
            letter-spacing: -5px;
            margin-bottom: 100px;

            @media #{$lg} {
                font-size: 80px;
            }

            @media #{$md} {
                font-size: 50px;
                letter-spacing: 0;
                margin-bottom: 50px;
            }

            @media #{$sm} {
                font-size: 35px;
            }
        }

        &-nav-list {
            padding-left: 27px;

            li {
                position: relative;


                &::before {
                    content: "";
                    width: 7px;
                    height: 7px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 500px;
                    background-color: var(--primary);
                    position: absolute;
                    left: 0;
                    transform: translate(-27px, 15px);
                    margin-right: 30px;
                }

                &:not(:last-child) {
                    margin-bottom: 5px;
                }

                a {
                    font-size: 30px;
                    line-height: 36px;
                    color: var(--primary);
                    text-transform: capitalize;

                    @media #{$lg} {
                        font-size: 20px;
                        line-height: 30px;
                    }
                }
            }
        }

    }

    .copyright-area-inner {
        border-top: 1px solid var(--primary);
        padding-top: 40px;

    }

    .copyright-socail-list {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 41px;
        position: relative;
        padding-bottom: 20px;

        @media #{$xs} {
            gap: 30px;
        }

        &::before {
            width: 150px;
            height: 1px;
            content: "";
            position: absolute;
            bottom: 0;
            background-color: var(--primary);
        }

        li {
            position: relative;

            &:not(:last-child) {
                &::before {
                    content: "";
                    width: 1px;
                    height: 10px;
                    right: -50%;
                    position: absolute;
                    background-color: #999999;
                    transform: translate(-10px, 3px);

                    @media #{$xs} {
                        transform: translate(-17px, 3px);
                    }
                }
            }


            a {
                font-size: 14px;
                line-height: 16px;
                font-weight: 500;
                text-transform: uppercase;
                color: var(--primary);
                text-align: center;
                position: relative;

                &::before {
                    width: 0;
                    height: 1px;
                    background-color: currentColor;
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    transition: all 0.5s;
                }

                &:hover {
                    color: #999999;

                    &::before {
                        width: 100%;
                    }
                }
            }
        }
    }

    .copyright-text {
        padding-top: 20px;

        .text {
            font-size: 14px;
            line-height: 16px;
            font-weight: 500;
            text-transform: uppercase;
            color: var(--primary);
            text-align: center;

            @media #{$xl} {
                font-size: 20px;
            }

            @media #{$lg} {
                font-size: 18px;
            }

            a {
                transition: all 0.3s;
                position: relative;

                &::before {
                    width: 0;
                    height: 1px;
                    background-color: currentColor;
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    transition: all 0.5s;
                }

                &:hover {
                    color: #999999;

                    &::before {
                        width: 100%;
                    }
                }
            }
        }
    }
}

/* footer area inner page style  */
.footer-area-inner-page {
    .footer-top-inner {
        padding-top: 50px;
        border-top: 1px solid rgba(17, 17, 17, 0.1);
        padding-bottom: 50px;
        margin-top: 50px;
        display: grid;
        gap: 30px 60px;
        grid-template-columns: 1fr 660px;

        @media #{$xxl} {
            padding-top: 40px;
            padding-bottom: 40px;
            margin-top: 30px;

        }

        @media #{$xl} {
            grid-template-columns: 1fr 580px;
        }

        @media #{$lg} {
            grid-template-columns: 1fr 470px;

        }

        @media #{$md} {
            grid-template-columns: 1fr 430px;
        }

        @media #{$sm} {
            grid-template-columns: 1fr;
        }

        .info-text {
            .text {
                max-width: 510px;
                font-size: 30px;
                line-height: 1.26;
                color: var(--primary);

                @media #{$xxl} {
                    font-size: 22px;
                }

                @media #{$lg} {
                    font-size: 18px;
                }
            }
        }

        .info-link {
            a {
                font-size: 30px;
                line-height: 1.5;
                color: var(--black-2);
                position: relative;

                @media #{$xxl} {
                    font-size: 22px;
                }

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    transition: all 0.3s;
                    background-color: currentColor;
                }

                &:hover {
                    color: var(--black);

                    &::before {
                        width: 0;
                    }
                }
            }
        }
    }

    .footer-logo {
        margin-top: 8px;
        max-width: 657px;

        @media #{$xxl} {
            max-width: 257px;
        }

        @media #{$lg} {
            max-width: 207px;
        }

        @media #{$md} {
            max-width: 147px;
        }
    }

    .footer-widget-wrapper-box {
        border-top: 1px solid rgba(17, 17, 17, 0.1);
        padding-top: 97px;
        padding-bottom: 94px;

        @media #{$xxl} {
            padding-top: 77px;
            padding-bottom: 74px;
        }

        @media #{$lg} {
            padding-top: 57px;
            padding-bottom: 54px;
        }
    }

    .footer-widget-wrapper {
        display: grid;
        gap: 30px 170px;
        grid-template-columns: 1fr auto auto auto;
        justify-content: space-between;

        @media #{$xl} {
            gap: 30px 130px;
        }

        @media #{$lg} {
            gap: 30px 90px;

        }

        @media #{$md} {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media #{$sm} {
            grid-template-columns: 1fr 1fr;
        }

        @media #{$xs} {
            grid-template-columns: 1fr;
        }
    }

    .subscribe-form {
        max-width: 515px;

        .input-field {
            display: flex;
            gap: 10px;
            background-color: rgba(17, 17, 17, 0.05);
            padding: 32px 30px;
            border-radius: 50px;

            @media #{$xxl} {
                padding: 22px 30px;
            }

            input {
                width: 100%;
                background-color: transparent;
                border: 0;
                outline: 0;

                &::placeholder {
                    font-size: 22px;
                    line-height: 1;
                    color: rgba(17, 17, 17, 0.3);
                }
            }
        }

    }


    .subscription-text {
        margin-top: 23px;

        .text {
            font-size: 22px;
            line-height: 28px;
            color: var(--primary);
            max-width: 345px;

            @media #{$xxl} {
                font-size: 20px;
            }

            @media #{$lg} {
                font-size: 18px;
            }

            a {
                position: relative;

                &::before {
                    transition: all 0.5s;
                    width: 100%;
                    height: 1px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    content: "";
                    background-color: currentColor;
                }

                &:hover {
                    &:hover {
                        &::before {
                            width: 0;
                        }
                    }
                }
            }
        }
    }

    .footer-widget-box {
        .title {
            font-size: 22px;
            line-height: 20px;
            margin-bottom: 30px;
            color: var(--black-2);
            font-family: var(--font_dmsans);

            @media #{$xxl} {
                margin-bottom: 20px;

            }
        }

        &.newsletter {
            @media #{$md} {
                order: 4;
                grid-column: span 2;
            }

            @media #{$xs} {
                grid-column: auto;
            }
        }

    }

    .footer-nav-list {

        &:hover {

            li a {
                opacity: 0.3;
            }
        }

        li {
            font-size: 22px;
            line-height: 30px;
            color: var(--primary);
            transition-property: opacity;
            transition-duration: 500ms;

            a {

                &:hover {
                    opacity: 1;

                    a strong {
                        opacity: 1;
                        top: -23px;
                    }
                }

                a strong {
                    opacity: 0;
                    transition-property: opacity, top;
                    transition-duration: 250ms;
                }
            }

        }
    }

    .copyright-area-inner {
        border-top: 1px solid rgba(17, 17, 17, 0.1);
        padding: 47px 0;

        @media #{$xxl} {
            padding: 37px 0;

        }

        @media #{$xl} {
            padding: 27px 0;

        }
    }

    .copyright-text {
        .text {
            font-size: 24px;
            line-height: 1;
            color: var(--primary);
            text-align: center;

            @media #{$xxl} {
                font-size: 22px;
            }

            @media #{$xl} {
                font-size: 20px;
            }

            @media #{$lg} {
                font-size: 18px;
            }

            a {
                color: #999999;
                transition: all 0.3s;
                position: relative;

                &::before {
                    width: 0;
                    height: 1px;
                    background-color: currentColor;
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    transition: all 0.5s;
                }

                &:hover {
                    color: var(--black);

                    &::before {
                        width: 100%;
                    }
                }
            }
        }
    }
}


/* team list area style  */
.team-list-area {
    .team-box {
        border-bottom: 1px solid #E1E1E1;
        padding-top: 20px;
        padding-bottom: 20px;
        display: grid;
        gap: 15px 25px;
        grid-template-columns: 100px 1fr 960px auto;
        align-items: center;
        justify-content: space-between;
        transition: all 0.5s;

        @media #{$xxl} {
            grid-template-columns: 100px 1fr 560px auto;

        }

        @media #{$lg} {
            grid-template-columns: 100px 1fr 310px auto;
        }

        @media #{$md} {
            grid-template-columns: 80px 1fr 210px auto;
        }

        @media #{$sm} {
            grid-template-columns: 1fr 1fr auto;
        }


        &:hover {
            background-color: #FAFAFA;

            .thumb {
                transform: translateX(20px);
            }

            .name {
                transform: translateX(20px);
            }

            .t-btn-normal {
                transform: translateX(-20px);
            }
        }

        .thumb {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            overflow: hidden;
            transition: all 0.5s;

            @media #{$md} {
                width: 80px;
                height: 80px;
            }

            @media #{$sm} {
                grid-column: span 3;
            }

            img {
                width: 100%;
            }
        }

        .name {
            font-size: 30px;
            font-weight: 310;
            line-height: 1;
            letter-spacing: -0.07em;
            transition: all 0.5s;

            @media #{$xl} {
                font-size: 24px;
            }

        }

        .post {
            font-size: 16px;
            font-weight: 400;
            line-height: 16px;
            display: inline-block;
        }

    }

    .team-wrapper-box {
        margin-top: 90px;

        @media #{$xl} {
            margin-top: 70px;
        }
    }

    .team-wrapper {
        border-top: 1px solid #E1E1E1;

    }
}


/* team area style  */
.team-area {

    .section-header {
        margin-top: 59px;
        display: grid;
        gap: 20px 20px;
        grid-template-columns: 1fr 1fr;
        align-items: flex-end;

        @media #{$md} {
            grid-template-columns: 1fr;
        }

        .text {
            font-size: 20px;
            font-weight: 400;
            line-height: 28px;
            max-width: 375px;
        }

        .section-title-wrapper {
            order: 2;

            @media #{$md} {
                order: unset;
            }
        }
    }



    .team-wrapper-box {
        margin-top: 94px;

        @media #{$xxl} {
            margin-top: 64px;
        }

        @media #{$md} {
            margin-top: 44px;
        }
    }

    .team-wrapper {
        display: grid;
        gap: 40px 20px;
        grid-template-columns: repeat(4, 1fr);

        @media #{$md} {
            grid-template-columns: repeat(2, 1fr);
        }

        @media #{$xs} {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .team-box {
        &:hover {
            .thumb {
                img {
                    transform: scale(1.1);
                }
            }
        }

        .thumb {
            overflow: hidden;

            img {
                width: 100%;
                transition: all 0.5s;
            }
        }

        .name {
            font-size: 30px;
            font-weight: 310;
            line-height: 1;
            letter-spacing: -0.07em;

            @media #{$xxl} {
                font-size: 24px;
            }
        }

        .post {
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            display: inline-block;
            margin-top: 3px;
        }

        .content {
            margin-top: 19px;
        }
    }
}


canvas {
    // position: fixed;
    top: 0;
    left: 0;
    // width: 100vw;
    // height: 100vh;
    border: none;
    outline: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    z-index: 10;
    pointer-events: none;
}

[data-webgl-image] {
    opacity: 0.2;
    position: relative;
}

img {
    max-width: 100%;
    display: block;
    margin: 10vh auto;
    padding: 0 5vh;
}