@import "utils/index";

@import "components/index";

@import "pages/digital-agency";
@import "pages/design-agency";
@import "pages/creative-agency";
@import "pages/marketing-agency";
@import "pages/404";
@import "pages/about";
@import "pages/blog-details";
@import "pages/blog";
@import "pages/contact";
@import "pages/faq";
@import "pages/service-details";
@import "pages/services";
@import "pages/team-details";
@import "pages/team";
@import "pages/work-details";
@import "pages/work";



.parallax-view {
    overflow: hidden;
}

.hover-reveal {
    position: relative;
    overflow: hidden;
    cursor: none;

    &:hover {
        >*:first-child {
            opacity: 1 !important;
        }
    }

    >*:first-child {
        opacity: 0;
        z-index: 1;
    }
}


.section-spacing {
    padding-top: 100px;
    padding-bottom: 100px;

    @media #{$xxl} {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    @media #{$xl} {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    @media #{$lg} {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.section-spacing-top {
    padding-top: 100px;

    @media #{$xxl} {
        padding-top: 90px;
    }

    @media #{$xl} {
        padding-top: 80px;
    }

    @media #{$lg} {
        padding-top: 60px;
    }
}

.section-spacing-bottom {
    padding-bottom: 100px;

    @media #{$xxl} {
        padding-bottom: 90px;
    }

    @media #{$xl} {
        padding-bottom: 80px;
    }

    @media #{$lg} {
        padding-bottom: 60px;
    }
}


.container {
    --bs-gutter-x: 30px;

    &.full-hd {
        @media (min-width: 1600px) {
            max-width: 1920px;
            margin-left: auto;
            margin-right: auto;
            padding-left: 0;
            padding-right: 0;
        }
    }

}



/* inverted text style  */
.text-invert>div {
    background-image: linear-gradient(to right,
            #111111 50%,
            #CDC9C6 51%);
    background-size: 200% 100%;
    background-position-x: 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;


}




// side info style
.offcanvas-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #000;
    z-index: 900;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.offcanvas-overlay.overlay-open {
    opacity: 0.4;
    visibility: visible;
}


.side-info-close {
    background: none;
    border: 0;
    color: var(--clr-common-white);
    font-size: 24px;
    padding: 0;
    transition: all 0.3s linear;
    background-color: var(--clr-theme-3);
    color: var(--clr-common-white);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;

    &:hover {
        transform: rotate(90deg);
    }
}

.side-info {
    background: var(--bg);
    height: 100%;
    position: fixed;
    z-index: 999;
    inset-inline-end: -100%;
    top: 0;
    width: 500px;
    padding: 40px 45px;
    overflow-y: scroll;
    transition: all 0.5s;
    overflow-y: scroll;
    overscroll-behavior-y: contain;
    scrollbar-width: none;

    @media #{$xs} {
        width: 100%;
        padding: 30px 30px;
    }


}

.side-info.info-open {
    inset-inline-end: 0;
}

.offset {
    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-logo {
        width: 150px;

        @media #{$xs} {
            width: 130px;
        }

        img {
            width: 100%;
        }
    }
}

.offset-widget-box {
    margin-top: 40px;

    .title {
        font-size: 24px;
        line-height: 1.33;
        margin-bottom: 42px;

        @media #{$xxl} {
            margin-bottom: 22px;

        }
    }

    .contact-meta>*:not(:first-child) {
        margin-top: 16px;
    }

    .contact-item {
        display: flex;
        align-items: center;
        gap: 14px;

        .icon {
            width: 40px;
            min-width: 40px;
            height: 40px;
            display: inline-flex;
            border: 1px solid var(--primary);
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            color: var(--primary);
        }
    }
}

/* mean menu customize */
.mobile-menu {
    margin-top: 40px;

    &.mean-container {

        .mean-nav>ul {
            padding: 0;
            margin: 0;
            width: 100%;
            list-style-type: none;
            display: block !important;

            >li:last-child>a {
                border-bottom: 1px solid var(--border);
            }
        }

        .mean-nav {
            background: none;
            margin-top: 0;

            .new {
                font-size: 10px;
                font-weight: 600;
                background: #FFA38E;
                color: var(--black-2);
                padding: 3px 7px;
                line-height: 1;
                display: flex;
                align-items: center;
                border-radius: 2px;
            }

            ul li {
                a {
                    width: 100%;
                    padding: 15px 0;
                    padding-inline-start: 0px;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 1;
                    color: var(--secondary);
                    text-transform: capitalize;
                    border-top: 1px solid var(--border);
                    display: flex;
                    gap: 8px;
                    justify-content: flex-start;
                    align-items: center;
                    outline: none;
                    transform: translateY(var(--y)) translateZ(0);
                    transition: transform .4s ease, box-shadow .4s ease;
                    box-sizing: border-box;
                    opacity: 1;

                    @media #{$sm} {
                        font-size: 20px;
                    }

                    &.mean-expand {
                        width: 54px;
                        height: 54px;
                        justify-content: center;
                        font-weight: 300;
                        border: none !important;



                        @media #{$sm} {
                            height: 50px;
                        }

                        &:hover {
                            background: var(--border);
                            opacity: 1;
                        }
                    }
                }

                li {
                    &:first-child {
                        border-top: 1px solid var(--border);

                    }

                    a {
                        font-size: 16px;
                        text-transform: capitalize;
                        border-top: none !important;
                        padding: 12px 0;
                        padding-inline-start: 15px;

                        &.mean-expand {
                            height: 58px;

                            @media #{$md} {
                                height: 25px;
                            }

                            @media #{$sm} {
                                height: 22px;
                            }
                        }
                    }

                    li {
                        &:last-child {
                            border-bottom: 1px solid var(--border);
                        }

                        a {
                            padding-left: 40px;
                        }
                    }
                }
            }
        }

        .mean-bar {
            padding: 0;
            background: none;
            max-height: auto;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                width: 0;
            }
        }

        a.meanmenu-reveal {
            display: none !important;
        }
    }
}

/* body style  */
.body {
    &-page-inner {
        position: relative;
        z-index: 100;
        background-color: #FFFFFF;

        .container {
            &.large {
                @media (min-width: 1650px) {
                    max-width: 1650px;
                    --container-max-widths: 1620px;
                    --bs-gutter-x: 30px;

                }
            }
        }

        .section-subtitle {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            display: inline-block;
            text-transform: uppercase;
            color: var(--primary);
            letter-spacing: 1px;
        }

        .section-title {
            font-size: 100px;
            letter-spacing: -0.07em;

            @media #{$xxl} {
                font-size: 80px;
            }

            @media #{$xl} {
                font-size: 60px;
            }

            @media #{$lg} {
                font-size: 50px;
            }

            @media #{$md} {
                font-size: 40px;
            }

            @media #{$sm} {
                font-size: 35px;
            }

            &.large {
                font-size: 64px;

                @media #{$xxl} {
                    font-size: 56px;
                }

                @media #{$lg} {
                    font-size: 48px;
                }

                @media #{$md} {
                    font-size: 42px;
                }

                @media #{$sm} {
                    font-size: 36px;
                }
            }
        }
    }
}


// sticky header style
.header-sticky {
    transition: all 0.5s;
}

.transformed {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 800;
    // background-color: #FFFFFF;
    transform: translateY(-100%);

}

.sticky {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 800;
    background-color: #FFFFFF;
    transform: translateY(0%);

}

/* pinned header style  */
.tp-header-sticky-clonedfd {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 98;
    visibility: hidden;
    transform: translateY(-100%);
    transition: transform 500ms ease, visibility 500ms ease;
}

.tp-header-pinneddd {
    transform: translateY(0%);
    visibility: visible;
}

/* header area style  */
.header-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;


    &__inner {
        display: flex;
        align-items: center;
        gap: 0px;
        position: relative;
        height: 100px;

        @media #{$lg} {
            height: 70px;
            gap: 20px;
        }

        &>*:nth-child(2) {
            margin-inline-end: auto;
        }
    }

    .container {
        &.large {
            @media (min-width: 1800px) {
                max-width: 1750px;
            }
        }



    }

    .header__logo {
        border: 1px solid rgba(17, 17, 17, 0.1);
        padding: 17px 30px;
        border-radius: 60px;

        @media #{$lg} {
            padding: 0;
            border: 0;
        }

        img {
            width: 100%;
        }
    }

    .header__nav {
        border: 1px solid rgba(17, 17, 17, 0.1);
        border-radius: 60px;
        padding: 0 13px;

        @media #{$lg} {
            padding: 0;
            border: 0;
        }
    }

    .main-menu li a {
        font-size: 16px;
        font-weight: 400;
        padding: 21px 17px;

        &:hover {
            color: var(--action);
        }
    }

    .search-icon {
        color: var(--primary);
    }

    .header__meta {
        @media #{$xs} {
            display: none;
        }
    }

    .t-btn-primary {
        padding: 21px 38px;
        font-size: 16px;
        letter-spacing: -0.04em;


        @media #{$lg} {
            padding: 11px 28px;

        }

    }

    .header__navicon {
        i {
            font-size: 22px;
        }
    }

}

/* header area 2 style  */
.header-area-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;


    &__inner {
        display: flex;
        align-items: center;
        gap: 10px;
        position: relative;
        height: 80px;

        @media #{$lg} {
            height: 70px;
            gap: 10px;
        }

        &>*:nth-child(1) {
            margin-inline-end: auto;
        }
    }

    .container {
        &.large {
            @media (min-width: 1850px) {
                max-width: 1850px;
            }
        }



    }

    .header__logo {

        img {
            width: 100%;
        }
    }

    .header__nav {
        margin-right: -50%;
    }


    .main-menu li a {
        font-size: 16px;
        font-weight: 400;
        padding: 21px 17px;

        &:hover {
            color: var(--action);
        }
    }

    .search-icon {
        color: var(--primary);
    }

    .header__meta {
        @media #{$xs} {
            display: none;
        }
    }

    .t-btn-primary {
        padding: 16px 28px;
        font-size: 16px;
        letter-spacing: -0.04em;


        @media #{$lg} {
            padding: 12px 28px;

        }

    }

    .side-toggle {
        width: 50px;
        height: 50px;
        background-color: #F1E8E1;
        border-radius: 50%;

        i {
            font-size: 22px;
        }
    }

}

/* header area 3 style  */
.header-area-3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;


    &__inner {
        display: flex;
        align-items: flex-start;
        gap: 10px;
        position: relative;
        padding-top: 35px;

        @media #{$lg} {
            padding-top: 25px;
        }





        &>*:nth-child(1) {
            margin-inline-end: auto;
        }
    }

    .container {
        &.large {
            @media (min-width: 1850px) {
                max-width: 1850px;
            }
        }



    }

    .header__logo {

        img {
            width: 100%;
        }
    }


    .main-menu li a {
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        padding: 0 0;
    }

    .main-menu>ul {
        display: block;
    }

    .main-menu {

        ul {
            &:hover {

                li {
                    opacity: 0.3;
                }
            }

            li {
                font-size: 22px;
                line-height: 30px;
                color: var(--primary);
                transition-property: opacity;
                transition-duration: 500ms;

                &:hover {
                    opacity: 1;

                    a strong {
                        opacity: 1;
                        top: -23px;
                    }
                }

                a strong {
                    opacity: 0;
                    transition-property: opacity, top;
                    transition-duration: 250ms;
                }

            }
        }
    }


    .side-toggle {
        width: 50px;
        height: 50px;
        background-color: #F1E8E1;
        border-radius: 50%;

        i {
            font-size: 22px;
        }
    }

}

/* footer area 3 style  */
.footer-area-3 {
    .footer-widget-wrapper-box {
        padding-top: 97px;
        padding-bottom: 94px;

        @media #{$xxl} {
            padding-top: 77px;
            padding-bottom: 74px;
        }

        @media #{$lg} {
            padding-top: 57px;
            padding-bottom: 54px;
        }
    }

    .footer-widget-wrapper {
        display: grid;
        gap: 30px 170px;
        grid-template-columns: 1fr auto auto auto;
        justify-content: space-between;

        @media #{$xl} {
            gap: 30px 130px;
        }

        @media #{$lg} {
            gap: 30px 90px;

        }

        @media #{$md} {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media #{$sm} {
            grid-template-columns: 1fr 1fr;
        }

        @media #{$xs} {
            grid-template-columns: 1fr;
        }
    }

    .subscribe-form {
        max-width: 515px;

        .input-field {
            display: flex;
            gap: 10px;
            background-color: rgba(17, 17, 17, 0.05);
            padding: 28px 30px;
            border-radius: 50px;

            @media #{$xxl} {
                padding: 22px 30px;
            }

            @media #{$lg} {
                padding: 18px 30px;
            }

            input {
                width: 100%;
                background-color: transparent;
                border: 0;
                outline: 0;
                font-size: 22px;
                line-height: 1;

                @media #{$lg} {
                    font-size: 18px;

                }

                &::placeholder {
                    color: rgba(17, 17, 17, 0.3);
                }
            }
        }

    }


    .subscription-text {
        margin-top: 23px;

        @media #{$lg} {
            margin-top: 18px;
        }

        .text {
            font-size: 22px;
            line-height: 28px;
            color: var(--primary);
            max-width: 345px;

            @media #{$lg} {
                font-size: 18px;
            }

            a {
                text-decoration: underline;
            }
        }
    }

    .footer-widget-box {
        .title {
            font-size: 22px;
            line-height: 20px;
            margin-bottom: 30px;
            color: var(--black-2);
            font-family: var(--font_dmsans);

            @media #{$xxl} {
                margin-bottom: 20px;

            }
        }

        &.newsletter {
            @media #{$md} {
                order: 4;
                grid-column: span 2;
            }

            @media #{$xs} {
                grid-column: auto;
            }
        }

    }

    .footer-nav-list {

        &:hover {

            li {
                opacity: 0.3;
            }
        }

        li {
            font-size: 22px;
            line-height: 30px;
            color: var(--primary);
            transition-property: opacity;
            transition-duration: 500ms;

            &:hover {
                opacity: 1;

                a strong {
                    opacity: 1;
                    top: -23px;
                }
            }

            a strong {
                opacity: 0;
                transition-property: opacity, top;
                transition-duration: 250ms;
            }

            // a {
            //     &:hover {
            //         color: var(--action);
            //     }
            // }
        }
    }

    .copyright-area-inner {
        border-top: 1px solid rgba(17, 17, 17, 0.1);
        padding: 47px 0;

        @media #{$xxl} {
            padding: 37px 0;

        }

        @media #{$xl} {
            padding: 27px 0;

        }
    }

    .copyright-text {
        .text {
            font-size: 24px;
            line-height: 1;
            color: var(--primary);
            text-align: center;

            @media #{$xl} {
                font-size: 20px;
            }

            @media #{$lg} {
                font-size: 18px;
            }

            a {
                color: #999999;
            }
        }
    }
}

/* footer area inner page style  */
.footer-area-inner-page {
    .footer-top-inner {
        padding-top: 42px;
        border-top: 1px solid rgba(17, 17, 17, 0.1);
        padding-bottom: 50px;
        margin-top: 50px;
        display: grid;
        gap: 30px 60px;
        grid-template-columns: 1fr 660px;

        @media #{$xxl} {
            padding-top: 72px;
            padding-bottom: 40px;
        }

        @media #{$xl} {
            grid-template-columns: 1fr 580px;
        }

        @media #{$lg} {
            grid-template-columns: 1fr 470px;

        }

        @media #{$md} {
            grid-template-columns: 1fr 430px;
        }

        @media #{$sm} {
            grid-template-columns: 1fr;
        }

        .info-text {
            .text {
                max-width: 510px;
                font-size: 30px;
                line-height: 1.26;
                color: var(--primary);

                @media #{$xxl} {
                    font-size: 22px;
                }

                @media #{$lg} {
                    font-size: 18px;
                }
            }
        }

        .info-link {
            a {
                font-size: 30px;
                line-height: 1.5;
                color: var(--black-2);
                text-decoration: underline;

                @media #{$xxl} {
                    font-size: 22px;
                }

                @media #{$lg} {
                    font-size: 18px;
                }
            }
        }
    }

    .footer-logo {
        margin-top: 8px;
        max-width: 657px;

        @media #{$xxl} {
            max-width: 257px;
        }

        @media #{$lg} {
            max-width: 207px;
        }

        @media #{$md} {
            max-width: 147px;
        }
    }

    .footer-widget-wrapper-box {
        border-top: 1px solid rgba(17, 17, 17, 0.1);
        padding-top: 97px;
        padding-bottom: 94px;

        @media #{$xxl} {
            padding-top: 77px;
            padding-bottom: 74px;
        }

        @media #{$lg} {
            padding-top: 57px;
            padding-bottom: 54px;
        }
    }

    .footer-widget-wrapper {
        display: grid;
        gap: 30px 170px;
        grid-template-columns: 1fr auto auto auto;
        justify-content: space-between;

        @media #{$xl} {
            gap: 30px 130px;
        }

        @media #{$lg} {
            gap: 30px 90px;

        }

        @media #{$md} {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media #{$sm} {
            grid-template-columns: 1fr 1fr;
        }

        @media #{$xs} {
            grid-template-columns: 1fr;
        }
    }

    .subscribe-form {
        max-width: 515px;

        .input-field {
            display: flex;
            gap: 10px;
            background-color: rgba(17, 17, 17, 0.05);
            padding: 32px 30px;
            border-radius: 50px;

            @media #{$xxl} {
                padding: 22px 30px;
            }

            input {
                width: 100%;
                background-color: transparent;
                border: 0;
                outline: 0;

                &::placeholder {
                    font-size: 22px;
                    line-height: 1;
                    color: rgba(17, 17, 17, 0.3);
                }
            }
        }

    }


    .subscription-text {
        margin-top: 23px;

        .text {
            font-size: 22px;
            line-height: 28px;
            color: var(--primary);
            max-width: 345px;

            @media #{$xxl} {
                font-size: 20px;
            }

            @media #{$lg} {
                font-size: 18px;
            }

            a {
                text-decoration: underline;
            }
        }
    }

    .footer-widget-box {
        .title {
            font-size: 22px;
            line-height: 20px;
            margin-bottom: 30px;
            color: var(--black-2);
            font-family: var(--font_dmsans);

            @media #{$xxl} {
                margin-bottom: 20px;

            }
        }

        &.newsletter {
            @media #{$md} {
                order: 4;
                grid-column: span 2;
            }

            @media #{$xs} {
                grid-column: auto;
            }
        }

    }

    .footer-nav-list {
        li {
            font-size: 22px;
            line-height: 30px;
            color: var(--primary);

            @media #{$xxl} {
                font-size: 20px;
            }

            @media #{$lg} {
                font-size: 18px;
            }

            a {
                &:hover {
                    color: var(--action);
                }
            }
        }
    }

    .copyright-area-inner {
        border-top: 1px solid rgba(17, 17, 17, 0.1);
        padding: 47px 0;

        @media #{$xxl} {
            padding: 37px 0;

        }

        @media #{$xl} {
            padding: 27px 0;

        }
    }

    .copyright-text {
        .text {
            font-size: 24px;
            line-height: 1;
            color: var(--primary);
            text-align: center;

            @media #{$xxl} {
                font-size: 22px;
            }

            @media #{$xl} {
                font-size: 20px;
            }

            @media #{$lg} {
                font-size: 18px;
            }

            a {
                color: #999999;
            }
        }
    }
}

/* service area style  */
.service-area-2 {

    .section-header {
        margin-top: 91px;
        margin-bottom: 357px;

        @media #{$xxl} {
            margin-top: 61px;
            margin-bottom: 237px;

        }

        @media #{$xl} {
            margin-top: 41px;
            margin-bottom: 157px;
        }

        @media #{$lg} {
            margin-top: 31px;
            margin-bottom: 117px;

        }

        @media #{$md} {
            margin-top: 21px;
            margin-bottom: 77px;

        }
    }

    .section-title {
        max-width: 716px;
        text-align: center;
        margin-inline: auto;
    }

    .services-wrapper-box {
        background-color: var(--primary);
        padding-top: 100px;
    }

    .service-box {
        display: grid;
        gap: 20px 50px;
        grid-template-columns: 215px 1fr 595px;
        border-top: 1px solid #292828;
        padding-top: 59px;
        padding-bottom: 72px;
        background-color: var(--primary);
        transition: all 0.5s;

        @media #{$xxl} {
            grid-template-columns: 215px 1fr 395px;

        }

        @media #{$xl} {
            grid-template-columns: 165px 1fr 395px;
        }

        @media #{$lg} {
            grid-template-columns: 115px 1fr 375px;
            padding-top: 49px;
            padding-bottom: 52px;
        }

        @media #{$md} {
            grid-template-columns: 55px 1fr 285px;
            padding-top: 39px;
            padding-bottom: 42px;
        }

        @media #{$sm} {
            grid-template-columns: auto;
        }

        &:last-child {
            border-bottom: 1px solid #292828;
        }

        &-wrapper {
            background-color: #292828;

            &:hover {
                .service-box {
                    border-radius: 120px;

                    @media #{$lg} {
                        border-radius: 80px;
                    }

                    @media #{$md} {
                        border-radius: 0px;
                    }

                    .number {
                        transform: translateX(60px);

                        @media #{$md} {
                            transform: none;
                        }
                    }
                }
            }
        }


        .number {
            font-size: 18px;
            font-weight: 400;
            line-height: 18px;
            color: var(--white);
            margin-top: 12px;
            transition: all 0.5s;
        }

        .title {
            font-size: 110px;
            font-weight: 310;
            line-height: 0.9;
            letter-spacing: -0.07em;
            color: var(--white);

            @media #{$xxl} {
                font-size: 80px;
            }

            @media #{$xl} {
                font-size: 60px;
            }

            @media #{$lg} {
                font-size: 50px;
            }

            @media #{$md} {
                font-size: 40px;
            }

            @media #{$sm} {
                font-size: 35px;
            }
        }

        .text {
            font-size: 20px;
            font-weight: 400;
            line-height: 28px;
            color: var(--white);
            max-width: 370px;
            margin-top: 7px;
        }

    }


    .service-content {
        display: grid;
        gap: 30px 60px;
        grid-template-columns: 705px auto;
        justify-content: space-between;

        @media #{$lg} {
            grid-template-columns: 405px auto;
        }

        @media #{$md} {
            grid-template-columns: auto;
        }

        .text {
            font-family: var(--font_sequelsansromanbody);
            font-size: 30px;
            font-weight: 310;
            line-height: 1.16;
            letter-spacing: -0.07em;
            color: rgba(252, 247, 243, 0.3);

            @media #{$xxl} {
                font-size: 24px;
            }

            @media #{$xl} {
                font-size: 22px;
            }

            @media #{$lg} {
                font-size: 20px;
            }

            &.text-invert>div {
                background-image: linear-gradient(to right, rgba(252, 247, 243, 1) 50%, rgba(252, 247, 243, 0.3) 51%);
            }
        }

        .btn-wrapper {
            margin-top: 54px;
        }



        .text-wrapper {
            margin-top: 192px;
            max-width: 525px;

            @media #{$xxl} {
                margin-top: 102px;
            }

            @media #{$md} {
                margin-top: 0;
            }

            .text:not(:first-child) {
                margin-top: 35px;
            }
        }

        .section-info-wrapper {
            .thumb {
                max-width: 250px;
                margin-left: auto;

                @media #{$md} {
                    display: none;
                }
            }
        }

        .t-btn-primary {
            border-color: rgba(252, 247, 243, 0.1);
            color: var(--white);
        }
    }

    .service-content-wrapper {
        background-color: var(--black);
    }
}


/* team list area style  */
.team-list-area {
    .team-box {
        border-bottom: 1px solid #E1E1E1;
        padding-top: 20px;
        padding-bottom: 20px;
        display: grid;
        gap: 15px 25px;
        grid-template-columns: 100px 1fr 960px auto;
        align-items: center;
        justify-content: space-between;
        transition: all 0.5s;

        @media #{$xxl} {
            grid-template-columns: 100px 1fr 560px auto;

        }

        @media #{$lg} {
            grid-template-columns: 100px 1fr 310px auto;
        }

        @media #{$md} {
            grid-template-columns: 80px 1fr 210px auto;
        }

        @media #{$sm} {
            grid-template-columns: 1fr 1fr auto;
        }


        &:hover {
            background-color: #FAFAFA;

            .thumb {
                transform: translateX(20px);
            }

            .name {
                transform: translateX(20px);
            }

            .t-btn-normal {
                transform: translateX(-20px);
            }
        }

        .thumb {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            overflow: hidden;
            transition: all 0.5s;

            @media #{$md} {
                width: 80px;
                height: 80px;
            }

            @media #{$sm} {
                grid-column: span 3;
            }

            img {
                width: 100%;
            }
        }

        .name {
            font-size: 30px;
            font-weight: 310;
            line-height: 1;
            letter-spacing: -0.07em;
            transition: all 0.5s;

            @media #{$xl} {
                font-size: 24px;
            }

        }

        .post {
            font-size: 16px;
            font-weight: 400;
            line-height: 16px;
            display: inline-block;
        }

    }

    .team-wrapper-box {
        margin-top: 90px;

        @media #{$xl} {
            margin-top: 70px;
        }
    }

    .team-wrapper {
        border-top: 1px solid #E1E1E1;

    }
}

/* footer area style  */
.footer-area {
    .footer-top-inner {
        padding-top: 92px;
        padding-bottom: 50px;
        display: grid;
        gap: 30px 60px;
        grid-template-columns: 1fr 660px;

        @media #{$xxl} {
            padding-top: 72px;
            padding-bottom: 40px;
        }

        @media #{$xl} {
            grid-template-columns: 1fr 580px;
        }

        @media #{$lg} {
            grid-template-columns: 1fr 500px;

        }

        @media #{$md} {
            grid-template-columns: 1fr 430px;
        }

        @media #{$sm} {
            grid-template-columns: 1fr;
        }

        .info-text {
            .text {
                max-width: 510px;
                font-size: 30px;
                line-height: 1.26;
                color: var(--primary);

                @media #{$xxl} {
                    font-size: 22px;
                }
            }
        }

        .info-link {
            a {
                font-size: 30px;
                line-height: 1.5;
                color: var(--black-2);
                text-decoration: underline;

                @media #{$xxl} {
                    font-size: 22px;
                }
            }
        }
    }

    .footer-logo {
        margin-top: 8px;
        max-width: 657px;

        @media #{$xxl} {
            max-width: 257px;
        }

        @media #{$lg} {
            max-width: 207px;
        }

        @media #{$md} {
            max-width: 147px;
        }
    }

    .footer-widget-wrapper-box {
        border-top: 1px solid rgba(17, 17, 17, 0.1);
        padding-top: 97px;
        padding-bottom: 94px;

        @media #{$xxl} {
            padding-top: 77px;
            padding-bottom: 74px;
        }

        @media #{$lg} {
            padding-top: 57px;
            padding-bottom: 54px;
        }
    }

    .footer-widget-wrapper {
        display: grid;
        gap: 30px 170px;
        grid-template-columns: 1fr auto auto auto;
        justify-content: space-between;

        @media #{$xl} {
            gap: 30px 130px;
        }

        @media #{$lg} {
            gap: 30px 90px;

        }

        @media #{$md} {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media #{$sm} {
            grid-template-columns: 1fr 1fr;
        }

        @media #{$xs} {
            grid-template-columns: 1fr;
        }
    }

    .subscribe-form {
        max-width: 515px;

        .input-field {
            display: flex;
            gap: 10px;
            background-color: rgba(17, 17, 17, 0.05);
            padding: 32px 30px;
            border-radius: 50px;

            @media #{$xxl} {
                padding: 22px 30px;
            }

            input {
                width: 100%;
                background-color: transparent;
                border: 0;
                outline: 0;

                &::placeholder {
                    font-size: 22px;
                    line-height: 1;
                    color: rgba(17, 17, 17, 0.3);
                }
            }
        }

    }


    .subscription-text {
        margin-top: 23px;

        .text {
            font-size: 22px;
            line-height: 28px;
            color: var(--primary);
            max-width: 345px;

            a {
                text-decoration: underline;
            }
        }
    }

    .footer-widget-box {
        .title {
            font-size: 22px;
            line-height: 20px;
            margin-bottom: 30px;
            color: var(--black-2);
            font-family: var(--font_dmsans);

            @media #{$xxl} {
                margin-bottom: 20px;

            }
        }

        &.newsletter {
            @media #{$md} {
                order: 4;
                grid-column: span 2;
            }

            @media #{$xs} {
                grid-column: auto;
            }
        }

    }

    .footer-nav-list {

        &:hover {

            li {
                opacity: 0.3;
            }
        }

        li {
            font-size: 22px;
            line-height: 30px;
            color: var(--primary);
            transition-property: opacity;
            transition-duration: 500ms;

            &:hover {
                opacity: 1;

                a strong {
                    opacity: 1;
                    top: -23px;
                }
            }

            a strong {
                opacity: 0;
                transition-property: opacity, top;
                transition-duration: 250ms;
            }

            // a {
            //     &:hover {
            //         color: var(--action);
            //     }
            // }
        }
    }

    .copyright-area-inner {
        border-top: 1px solid rgba(17, 17, 17, 0.1);
        padding: 47px 0;

        @media #{$xxl} {
            padding: 37px 0;

        }

        @media #{$xl} {
            padding: 27px 0;

        }
    }

    .copyright-text {
        .text {
            font-size: 24px;
            line-height: 1;
            color: var(--primary);
            text-align: center;

            @media #{$xl} {
                font-size: 20px;
            }

            a {
                color: #999999;
            }
        }
    }
}


/* footer area 2 style  */
.footer-area-2 {


    .footer-widget-wrapper-box {
        border-top: 1px solid rgba(17, 17, 17, 0.1);
        padding-top: 97px;
        padding-bottom: 94px;

        @media #{$xxl} {
            padding-top: 77px;
            padding-bottom: 74px;
        }

        @media #{$lg} {
            padding-top: 57px;
            padding-bottom: 54px;
        }
    }

    .footer-widget-wrapper {
        display: grid;
        gap: 30px 170px;
        grid-template-columns: 1fr auto auto auto;
        justify-content: space-between;

        @media #{$xl} {
            gap: 30px 130px;
        }

        @media #{$lg} {
            gap: 30px 90px;

        }

        @media #{$md} {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media #{$sm} {
            grid-template-columns: 1fr 1fr;
        }

        @media #{$xs} {
            grid-template-columns: 1fr;
        }
    }

    .subscribe-form {
        max-width: 515px;

        .input-field {
            display: flex;
            gap: 10px;
            background-color: #F4EDE7;
            padding: 28px 30px;
            border-radius: 50px;

            @media #{$xxl} {
                padding: 22px 30px;
            }

            @media #{$lg} {
                padding: 18px 30px;
            }

            input {
                width: 100%;
                background-color: transparent;
                border: 0;
                outline: 0;
                font-size: 22px;
                line-height: 1;

                @media #{$lg} {
                    font-size: 18px;

                }

                &::placeholder {
                    color: rgba(17, 17, 17, 0.3);
                }
            }
        }

    }


    .subscription-text {
        margin-top: 23px;

        @media #{$lg} {
            margin-top: 18px;
        }

        .text {
            font-size: 22px;
            line-height: 28px;
            color: var(--primary);
            max-width: 345px;

            @media #{$lg} {
                font-size: 18px;
            }

            a {
                text-decoration: underline;
            }
        }
    }

    .footer-widget-box {
        .title {
            font-size: 22px;
            line-height: 20px;
            margin-bottom: 30px;
            color: var(--black-2);
            font-family: var(--font_dmsans);

            @media #{$xxl} {
                margin-bottom: 20px;

            }
        }

        &.newsletter {
            @media #{$md} {
                order: 4;
                grid-column: span 2;
            }

            @media #{$xs} {
                grid-column: auto;
            }
        }

    }

    .footer-nav-list {

        &:hover {

            li {
                opacity: 0.3;
            }
        }

        li {
            font-size: 22px;
            line-height: 30px;
            color: var(--primary);
            transition-property: opacity;
            transition-duration: 500ms;

            &:hover {
                opacity: 1;

                a strong {
                    opacity: 1;
                    top: -23px;
                }
            }

            a strong {
                opacity: 0;
                transition-property: opacity, top;
                transition-duration: 250ms;
            }

            // a {
            //     &:hover {
            //         color: var(--action);
            //     }
            // }
        }
    }

    .copyright-area-inner {
        border-top: 1px solid rgba(17, 17, 17, 0.1);
        padding: 47px 0;

        @media #{$xxl} {
            padding: 37px 0;

        }

        @media #{$xl} {
            padding: 27px 0;

        }
    }

    .copyright-text {
        .text {
            font-size: 24px;
            line-height: 1;
            color: var(--primary);
            text-align: center;

            @media #{$xl} {
                font-size: 20px;
            }

            @media #{$lg} {
                font-size: 18px;
            }

            a {
                color: #999999;
            }
        }
    }
}

/* team area style  */
.team-area {

    .section-header {
        margin-top: 59px;
        display: grid;
        gap: 20px 20px;
        grid-template-columns: 1fr 1fr;
        align-items: flex-end;

        @media #{$md} {
            grid-template-columns: 1fr;
        }

        .text {
            font-size: 20px;
            font-weight: 400;
            line-height: 28px;
            max-width: 375px;
        }

        .section-title-wrapper {
            order: 2;

            @media #{$md} {
                order: unset;
            }
        }
    }



    .team-wrapper-box {
        margin-top: 94px;

        @media #{$xxl} {
            margin-top: 64px;
        }

        @media #{$md} {
            margin-top: 44px;
        }
    }

    .team-wrapper {
        display: grid;
        gap: 40px 20px;
        grid-template-columns: repeat(4, 1fr);

        @media #{$md} {
            grid-template-columns: repeat(2, 1fr);
        }

        @media #{$xs} {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .team-box {
        &:hover {
            .thumb {
                img {
                    transform: scale(1.1);
                }
            }
        }

        .thumb {
            overflow: hidden;

            img {
                width: 100%;
                transition: all 0.5s;
            }
        }

        .name {
            font-size: 30px;
            font-weight: 310;
            line-height: 1;
            letter-spacing: -0.07em;

            @media #{$xxl} {
                font-size: 24px;
            }
        }

        .post {
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            display: inline-block;
            margin-top: 3px;
        }

        .content {
            margin-top: 19px;
        }
    }
}