/*----------------------------------------*/
/*  01. Button CSS START
/*----------------------------------------*/

.rr-btn-group {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  font-family: var(--font_dmsans);

  &.btn-whte {
    .b {
      border: 1px solid white;
      color: var(--white);
    }

    .c {
      border: 1px solid white;
      color: var(--white);
    }
  }

}

.rr-btn-group {

  span {
    letter-spacing: 0;
  }

  &:hover {

    .b {
      transform: rotate(-20deg);
    }

    .c {
      transform: translate(-7px, 0px);
    }
  }

}

.rr-btn-group .b {
  padding: 9px 25px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  color: var(--black);
  background-color: transparent;
  border: 2px solid var(--black);
  border-radius: 50px;
  transition: all 0.3s;

}

.rr-btn-group .c {
  padding: 9px 11px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  color: var(--black);
  background-color: transparent;
  border: 2px solid var(--black);
  border-radius: 50px;
  transition: all 0.3s;

  i {
    rotate: -30deg;
  }
}


.rr-btn {
  justify-content: center;
  position: relative;
  overflow: hidden;
  z-index: 5;
  padding: 26px 44px;
  background-color: var(--black);
  color: white;
  border-radius: 100px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  text-transform: capitalize;

  @media #{$lg} {
    padding: 18px 29px;

  }

  &:after {
    display: block;
    clear: both;
    content: "";
  }

  &::before {
    background-color: #FF6A3A;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    position: absolute;
    transition: all 0.5s;
  }

  .btn-wrap {
    z-index: 1;
    float: left;
    overflow: hidden;
    position: relative;
    display: inline-block;
    border: none;

    .text-one,
    .text-two {
      display: flex;
      align-items: center;
    }

    .text-one {
      position: relative;
      display: block;
      color: white;
      transition: all 0.5s;
    }

    .text-two {
      position: absolute;
      top: 100%;
      display: block;
      color: white;
      transition: all 0.5s;
    }
  }

  &:hover,
  &:focus {
    .text-one {
      transform: translateY(-150%);
    }

    &::before {
      background-color: #FF6A3A;
      height: 100%;
    }

    .text-two {
      top: 50%;
      transform: translateY(-50%);
      color: #F9F9F9;
    }
  }

  &.btn-border {
    background-color: transparent;
    border-color: rgb(0 0 0 / 20%);
    color: var(--black);

    &::before {
      background-color: var(--black);
    }

    .btn-wrap {
      .text-one {
        color: var(--black);
      }

      .text-two {
        color: var(--black);
      }
    }

    &:hover,
    &:focus {

      &::before {
        background-color: var(--black);
        height: 100%;
      }

      .text-two {
        color: #F9F9F9;
      }
    }
  }

  &.btn-border-white {
    border: 1px solid rgba(252, 247, 243, 0.10);
    background-color: transparent;
  }

}


.rr-btn-underline {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  color: var(--primary);
  text-transform: uppercase;
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 4px;
  white-space: nowrap;


  &:hover {
    &::before {
      width: 0;
    }
  }

  &::before {
    position: absolute;
    content: "";
    inset-inline-start: 0;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transition: 0.3s;
  }

  i {
    font-size: 10px;
  }
}