.body {
    &-portfolio-agency {
        background-color: #F8F8F8;

        .container {
            &.large {
                @media (min-width: 1880px) {
                    max-width: 1880px;
                }
            }
        }
    }
}

/* work area 4 style  */
.work-area-6 {
    .works-wrapper-box {
        margin-top: 29px;

        @media #{$xl} {
            margin-top: 9px;
        }
    }

    .works-wrapper {
        display: grid;
        gap: 85px 10px;
        grid-template-columns: repeat(4, 1fr);

        @media #{$xxl} {
            gap: 65px 10px;
        }

        @media #{$lg} {
            gap: 45px 10px;
        }

        @media #{$sm} {
            grid-template-columns: repeat(1, 1fr);

            >* {
                grid-column: span 1 !important; // Override spans for all children
            }
        }


        >* {

            &:nth-child(1) {
                grid-column: span 2;
            }

            &:nth-child(2) {
                grid-column: span 2;
            }

            &:nth-child(3) {
                grid-column: span 2;
            }

            &:nth-child(4) {
                grid-column: span 2;
            }

            &:nth-child(5) {
                grid-column: span 2;
            }

            &:nth-child(6) {
                @media #{$md} {
                    grid-column: span 2;
                }
            }

            &:nth-child(7) {
                @media #{$md} {
                    grid-column: span 2;
                }
            }


            &:nth-child(8) {
                grid-column: span 4;
            }

            &:nth-child(9) {
                grid-column: span 2;
            }

            &:nth-child(10) {
                grid-column: span 2;
            }

            &:nth-child(11) {
                grid-column: span 2;
            }

            &:nth-child(12) {
                @media #{$md} {
                    grid-column: span 2;
                }
            }

            &:nth-child(13) {
                @media #{$md} {
                    grid-column: span 2;
                }
            }
        }
    }

    .work-box {


        .thumb {
            border-radius: 15px;
            overflow: hidden;

            img {
                width: 100%;
                cursor: none;
            }
        }

        .content {
            margin-top: 24px;

            @media #{$lg} {
                margin-top: 14px;

            }
        }

        .title {
            font-size: 20px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: -0.05em;

            @media #{$lg} {
                font-size: 18px;
            }
        }

        .tag {
            font-size: 20px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: -0.05em;
            display: block;
            font-family: var(--font_bdogrotesk);
            color: var(--primary);

            @media #{$lg} {
                font-size: 18px;
            }
        }

        .date {
            font-size: 20px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: -0.05em;
            display: block;
            font-family: var(--font_bdogrotesk);
            color: var(--primary);

            @media #{$lg} {
                font-size: 18px;
            }
        }
    }
}